# Python basics
## sub headline
regular text *text*, **text**

- point 1
- point 2
- point 3

In [1]:
print("Hello world")

Hello world

In [2]:
name = "Lovelace"

In [3]:
print(name)

Lovelace

In [4]:
age = 73

In [5]:
size = 1.7123

In [6]:
knows_math = True
print(knows_math)
likes_garding = False
print(likes_garding)

True
False

In [7]:
type(size)

float

In [8]:
type(name)

str

## Operators

In [9]:
5 + 5

10

In [10]:
age * 100

7300

In [11]:
name + name

'LovelaceLovelace'

In [12]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [13]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [14]:
name + str(10)

'Lovelace10'

In [15]:
name + "10"

'Lovelace10'

In [16]:
size / age

0.023456164383561642

In [19]:
# Functions and Methods

In [20]:
len(name)

8

In [21]:
name

'Lovelace'

In [22]:
len("Ada Lovelace")

12

In [23]:
name.upper()

'LOVELACE'

In [25]:
print(name)

Lovelace

In [26]:
name_upper = name.upper()

In [27]:
print(name_upper)

LOVELACE

In [29]:
print(name_upper)

LOVELACE

In [32]:
print(name)
print(name_upper)

Lovelace
LOVELACE

In [38]:
name.count("e") + name.count("v")

3

In [34]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [39]:
name.count?

In [40]:
# Lists and Dictionaries

In [42]:
names = ["Lovelace", 
         "Darwin", 
         "Curie", 
         "Hawking"]

In [43]:
names[2]

'Curie'

In [44]:
names[0]

'Lovelace'

In [45]:
names[-1]

'Hawking'

In [46]:
len(names)

4

In [48]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [49]:
names[0:2]

['Lovelace', 'Darwin']

In [50]:
names[:2]

['Lovelace', 'Darwin']

In [51]:
names[2:]

['Curie', 'Hawking']

In [53]:
slice_point = 2
print(names[:slice_point])
print(names[slice_point:])

['Lovelace', 'Darwin']
['Curie', 'Hawking']

In [70]:
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin" : 1809,
                           "Noether": 1987 }

In [59]:
authors_and_birth_years["Darwin"]

1809

In [61]:
print(names)

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [63]:
print(authors_and_birth_years)

{'Lovelace': 1882, 'Darwin': 1809, 'Noether': ['Lovelace', 'Darwin', 'Curie', 'Hawking']}

In [64]:
# for loops

In [65]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [66]:
for name in names:
    print(name + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [67]:
for name in names:
    print(name + " did awesome stuff")
    print("-------------------------")

Lovelace did awesome stuff
-------------------------
Darwin did awesome stuff
-------------------------
Curie did awesome stuff
-------------------------
Hawking did awesome stuff
-------------------------

In [68]:
for name in names:
    print(name + " did awesome stuff")
print("-------------------------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
-------------------------

In [71]:
authors_and_birth_years

{'Lovelace': 1882, 'Darwin': 1809, 'Noether': 1987}

In [ ]:
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin" : 1809,
                           "Noether": 1987 }

In [76]:
for author, birth_year in authors_and_birth_years.items():
    print(author + " was born in " + str(birth_year))

Lovelace was born in 1882
Darwin was born in 1809
Noether was born in 1987

## Conditionals

In [77]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [80]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [82]:
temp > 15

True

In [86]:
temp = 20
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [87]:
temp = 20
if temp >= 25:
    print("It's hot")
elif temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [88]:
temp = 40
if temp > 15:
    print("It's warm")
elif temp >= 25:
    print("It's hot")
else:
    print("It's cold")

It's warm